<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.UserMapper">

    <insert id="insert">
        insert into user (openid,phone,sex,id_number,name,avatar,create_time)
        (#{openid},#{phone},#{sex},#{idNumber},#{name},#{avatar},#{createTime})
    </insert>

    <select id="getByOpenId" resultType="com.sky.entity.User">
        select * from user where openid = #{openid}
    </select>
</mapper>